version: '3.8'

services:
  app:
    build: .
    container_name: git_integration_app
    ports:
      - "9000:80"
    volumes:
      - .:/var/www/html
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public